@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-map-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.mini-map-dot-inner {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: radial-gradient(circle at 30% 30%, #e0f7ff, #00c6ff 60%, #0077b6 100%);
  box-shadow:
    0 0 6px rgba(0, 198, 255, 0.7),
    0 0 14px 8px rgba(0, 198, 255, 0.4),
    0 0 25px 14px rgba(0, 198, 255, 0.25);
}

.mini-map-dot-inner::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  box-shadow: 0 0 0 0 rgba(0, 198, 255, 0.8);
  transform: scale(0.5);
  animation: mini-map-pulse 2,2s ease-out infinite;
  pointer-events: none;
}

@keyframes mini-map-pulse {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(0, 198, 255, 0.7);
    opacity: 0.2;
  }
  60% {
    transform: scale(1.4);
    box-shadow: 0 0 0 12px rgba(0, 198, 255, 0);
    opacity: 0.2
  }
  100% {
    transform: scale(1.4);
    box-shadow: 0 0 0 rgba(0, 198, 255, 0);
    opacity: 0;
  }
}